@import "@/variables.css";

.text-emphasis {
  font-weight: $semibold;
}

.text-sub {
  font-size: 0.88em;
  color: $text-muted;
}

.color-primary {
  color: $primary;
}

.panel-icon-right {
  display: flex;
  align-items: center;

  & > :nth-last-child(2) {
    flex: 1;
  }

  & > :nth-last-child(n + 2) {
    margin-right: $spacer;
  }
}

.item-active {
  background: $hover;
}
